*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
body{
    background-color: black;
    color:white;
}
.container{
    position:fixed;
}
.left{
    width:25vw; 
}
.right{
    margin:5px 0; 
    width:73vw;
    position:relative;
    padding:15px;
}
.logo{
    justify-content: space-between;
}

.home{
    margin:5px;
    padding:10px;
    height: 15vh;
}
.lib{
    margin:5px;
    padding:10px;
    height: 80vh;
    position:relative;
}
.home ul li{
    display:flex;
    gap:10px;
    list-style: none;
    height:20px;
    padding-top: 15px;
    font-weight: bold;
}
.home img{
    height:20px;
}
.footer{
    position:absolute;
    bottom:15px;
    font-size: 10px;
    gap:10px;
    padding:10px;
}
.footer a{
    color:grey;
}

.lib img{
    height:20px;
}
.libsvg{
    display:flex;
    align-items: center;
    gap:5px;
    font-weight: bold;
}
.nav{
    display:flex;
    justify-content: space-between;
    color:white;
    padding:15px;
    background-color:#101010;
}
.shift{
    height:30px;
}
.spotifyPlaylist{
    margin:15px;
    width:100%;
}
.cardContainer{
    margin:20px;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    max-width: 95%;
    max-height: 65vh;
    overflow-y: scroll;
}
.card{
    width:170px;
    background-color: #212325;
    padding:9px;
    border-radius: 5px;
    transition: all 0.5s;
}
.card p{
    font-size: 12px;
    padding:3px;
}
.card h3{
    padding:3px;
}
.card img{
    width:100%;
    object-fit: contain;
}
.playimg{
    position:relative;
}
.playbtn{
    height:17%;
    width:17%;
    background-color: #1ed760;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:-8%; 
    /* 7% */
    right:5%;
    opacity: 0;
    transition:all 0.4s ease-out;
}
.card:hover{
    background-color:#101010;
    .playbtn{
        bottom:7%;
        opacity:1;
    }
}
.playbtn img{
    height:80%;
}
.signupbtn{
    background-color: #101010;
    color:rgb(107, 107, 107);
    border:none;
    outline:none;
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
}

.signupbtn:hover{
    color: white;
    padding:14px 20px;
    font-weight: 900;
}
.loginbtn{
    background-color: white;
    color:black;
    border-radius: 20px;
    border:none;
    outline:none;
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
}
.loginbtn:hover{
    font-weight: 900;
}
.playbar{
    width:71%;
    min-height:55px;
    color:burlywood;
    position:fixed;
    bottom:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(137, 1, 1);
    border-radius: 10px;
    padding:0px 10px 8px 10px;
    z-index:1;

}
.playbarBtns{
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.playbarInfo,.playbarTime{
    display:flex;
    height:50px;
    font-weight: bolder;
    align-items: center;
}
.playbarInfo{
    font-family: Chalkboard;
    font-size: 18px;
    width:33%;
}
.playbarTime{
    font-size:18px;
    font-family: American Typewriter;
    justify-content: center;
    width:33%;
}
.playbtn2{
    height:27px;
    width:27px;
    background-color:blanchedalmond;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.playNext {
    height:25px;
}
.playPrev {
    height:25px;
}
.songcardBox{
    padding:20px;
    height:70%;
    overflow:scroll;
    margin:20px 0px;
}
.songcardBox ul{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.songcardBox ul li img{
    height:30px;
}
.songcardBox ul li{
    list-style-type: decimal;
    display:flex;
    justify-content: space-between;
    gap:27px;
    cursor:pointer;
    padding:10px;
    font-size: 13px;
    border:1px solid white;
}
.songcardBox ul li .info{
    font-size: 12px;
    width:200px;
}
.playnow{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.seekbar{
    background-color: rgb(230, 240, 249);
    width:98%;
    position:absolute;
    bottom:0px;
    height: 5px;
    border:1px solid rgb(230, 240, 249);
    border-radius: 8px;
    cursor:pointer;
}
.circle{
    height:12px;
    width:12px;
    border-radius: 50%;
    background-color:aqua;
    position:absolute;
    bottom:-3px;
    transition: 0.5s smooth ease-out;
    cursor:pointer;
    left:0%;
}
.playbar img{
    cursor:pointer;
}
.hamburger{
    display:none;
}
.Xmark{
    display:none;
}
@media(max-width:1400px) {
    .left{
        position:absolute;
        left:-110%;
        transition:all .5s; 
        z-index:5;
        width:350px;
    }
    .right{
        height:100vh;
        width:98vw;
    }
    .hamburger{
        display:block;
    }
    .Xmark{
        display:block;
    }
    .playbar{
        width:90%;
        left: 50%;          /* Moves the left edge to the horizontal center */
        transform: translateX(-50%);
    }
}
@media(max-width:700px){
    .card{
        width:120px;
    }
    .playbarBtns{
    gap: 15px;
    }
    .playbarInfo{
        font-size: 13px;
    }
    .playbarTime{
        font-size:14px;
    }
    .playbar{
        width:86%;
        left: 50%;          /* Moves the left edge to the horizontal center */
        transform: translateX(-50%);
    }
    .playbtn2{
        height:22px;
        width:22px;
    }
    .playNext {
        height:20px;
    }
    .playPrev {
        height:20px;
    }
}
@media(max-width:400px){
    .card{
        width:115px;
    }
    .songcardBox ul li .info {
    font-size: 10px;
    }
}
.hamburgerContainer{
    display:flex;
    gap:15px;
    justify-content: center;
    align-items:center;
}


.logo img{
    height:30px;   
}
.divlogo{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-family: monospace;
    font-size: 20px;
    gap:5px;
}